* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: OstrichSans-Light;
  src: url("../fonts/OstrichSans-Light.otf");
}

html {
  font-size: 62.5%;
}

// -------------------- variables --------------------

$tc: #fffaf0;
$bgc-light: #1a1a1a;
$bgc-dark: #121212;

// -------------------- mixins --------------------

@mixin text-style($fs, $ff, $fw, $ls, $c) {
  font-size: $fs;
  font-family: $ff;
  font-weight: $fw;
  letter-spacing: $ls;
  color: $c;
}

@mixin element-size($w, $h) {
  width: $w;
  height: $h;
}

// -------------------- global classes --------------------

.hr_style {
  border: none;
  background-color: $tc;
  height: 1px;
}

//  ------------------------------ general style ------------------------------

h1 {
  @include text-style(10rem, OstrichSans-Light, 100, 12rem, $tc);
}

h2 {
  @include text-style(3.3rem, OstrichSans-Light, 100, 1rem, $tc);
}

h3 {
  @include text-style(1.6rem, Helvetica, 300, 0.5rem, $tc);
}

p {
  @include text-style(1.6rem, Helvetica, 300, 0.5rem, $tc);
}

hr {
  @extend .hr_style;
}

// * -------------------- header style --------------------

.position-container {
  position: relative;
  height: 100%;

  h1 {
    text-align: center;
    position: fixed;
    bottom: 7vh;
    width: 100%;
    z-index: -1;
  }
}

header {
  background-image: url("../img/FJ_home_slider2.jpg");
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -2;

  .logo {
    position: fixed;
    top: 5%;
    left: 3%;
  }
}

main {
  overflow-x: hidden;
  padding-top: 100vh;
  // * -------------------- experience section style --------------------
  .experience {
    background-color: $bgc-light;
    padding: 10rem;

    .experience-text {
      display: flex;
      flex-direction: column;
      align-items: center;

      .bg-img {
        @include element-size(80vw, 40rem);
        background-image: url("../img/experience.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        text-align: center;
        position: relative;
        z-index: 1;
        // img kann nicht bg sein weil hr darunter muss -.-

        hr {
          position: absolute;
          width: 100%;
          z-index: -1;
        }
      }

      a {
        @include text-style(1.6rem, Helvetica, 300, 0.5rem, $tc);
        text-decoration: none;
      }
    }
  }

  // * -------------------- curated section style --------------------
  .curated {
    background-color: $bgc-dark;
    padding: 20rem 0;
    margin: 0 auto;

    .curated-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 4rem;
      margin: 0 auto 20rem auto;
    }

    .curated-images {
      @include element-size(90vw, 23rem);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      .item {
        position: relative;
        overflow: hidden;
        text-align: center;
        justify-self: center;
        background-size: contain;
        background-repeat: no-repeat;

        &:hover .hover-effect {
          height: 100%;
        }

        &:nth-child(1) {
          @include element-size(25.8rem, 100%);
          background-image: url("../img/03_Curated_WAT_HUBLOT_b.jpg");

          .hover-effect {
            .hover-text {
              padding: 29% 0;
            }
          }
        }

        &:nth-child(2) {
          @include element-size(17.2rem, 100%);
          background-image: url("../img/04_Curated_Fine_Ring_Product_b.jpg");
          margin-bottom: 20%;

          .hover-effect {
            .hover-text {
              padding: 43% 0;
            }
          }
        }

        &:nth-child(3) {
          @include element-size(25.8rem, 100%);
          background-image: url("../img/07_Curated_DEC_Locherber_b-1.jpg");

          .hover-effect {
            .hover-text {
              padding: 25% 0;
            }
          }
        }

        .hover-effect {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0;
          background-color: rgba(0, 0, 0, 0.7);
          transition: height 0.5s ease;
          display: flex;
          justify-content: center;

          .hover-text {
            width: 90%;
            margin: 0 auto;

            hr {
              @extend .hr_style;
              margin: 2rem 0;
            }
          }
        }
      }
    }
  }

  // * -------------------- partnership section style --------------------
  .partnership {
    background-color: $bgc-light;
    margin: 0 auto;
    padding: 20rem 0;

    .partnership-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 4rem;
      margin: 0 auto 20rem auto;
    }
  }

  // * -------------------- showroom section style --------------------
  .showroom {
    background-color: $bgc-dark;
  }

  // * -------------------- news section style --------------------
  .news {
    background-color: $bgc-light;
  }
}

// * --------------------  footer style --------------------

footer {
  background-color: #e2e2e2;
  position: relative;
  z-index: -2;
  height: 20rem;
}
