* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: OstrichSans-Light;
  src: url("../fonts/OstrichSans-Light.otf");
}

html {
  font-size: 62.5%;
}

// -------------------- variables --------------------

$tc: #fffaf0;
$bgc-light: #1a1a1a;
$bgc-dark: #121212;

// -------------------- mixins --------------------

@mixin text-style($fs, $ff, $fw, $ls, $c) {
  font-size: $fs;
  font-family: $ff;
  font-weight: $fw;
  letter-spacing: $ls;
  color: $c;
}

@mixin element-size($w, $h) {
  width: $w;
  height: $h;
}

//  ------------------------------ general style ------------------------------

h1 {
  @include text-style(10rem, OstrichSans-Light, 100, 12rem, $tc);
}

h2 {
  @include text-style(3.3rem, OstrichSans-Light, 100, 1rem, $tc);
}

h3 {
  @include text-style(1.6rem, Helvetica, 300, 0.5rem, $tc);
}

p {
  @include text-style(1.6rem, Helvetica, 300, 0.5rem, $tc);
}
// ! header ----------------------------------------------------------------------------------

// * -------------------- header style --------------------

.position-container {
  position: relative;
  //   height: 100vh;
  h1 {
    text-align: center;
    position: absolute;
    top: 200%;
    width: 100%;
    z-index: 2;
  }
}
//  ??????????????????

header {
  background-image: url("../img/FJ_home_slider2.jpg");
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

// ! main ----------------------------------------------------------------------------------

main {
  // * -------------------- experience section style --------------------
  .experience {
    background-color: $bgc-light;
    padding: 10rem;

    .experience-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .bg-img {
        @include element-size(80vw, 40rem);
        background-image: url("../img/experience.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        text-align: center;
        // img kann nicht bg sein weil hr darunter muss -.-
      }

      a {
        @include text-style(1.6rem, Helvetica, 300, 0.5rem, $tc);
        text-decoration: none;
      }
    }
  }

  // * -------------------- curated section style --------------------
  .curated {
    background-color: $bgc-dark;
  }

  // * -------------------- partnership section style --------------------
  .partnership {
    background-color: $bgc-light;
  }

  // * -------------------- showroom section style --------------------
  .showroom {
    background-color: $bgc-dark;
  }

  // * -------------------- news section style --------------------
  .news {
    background-color: $bgc-light;
  }
}

// * --------------------  footer style --------------------

footer {
  position: relative;
  z-index: 1;
}
