* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: OstrichSans-Light;
  src: url("../fonts/OstrichSans-Light.otf");
}
html {
  font-size: 62.5%;
}

.hr_style, main .curated .curated-images .item .hover-effect .hover-text hr, hr {
  border: none;
  background-color: #fffaf0;
  height: 1px;
}

h1 {
  font-size: 10rem;
  font-family: OstrichSans-Light;
  font-weight: 100;
  letter-spacing: 12rem;
  color: #fffaf0;
}

h2 {
  font-size: 3.3rem;
  font-family: OstrichSans-Light;
  font-weight: 100;
  letter-spacing: 1rem;
  color: #fffaf0;
}

h3 {
  font-size: 1.6rem;
  font-family: Helvetica;
  font-weight: 300;
  letter-spacing: 0.5rem;
  color: #fffaf0;
}

p {
  font-size: 1.6rem;
  font-family: Helvetica;
  font-weight: 300;
  letter-spacing: 0.5rem;
  color: #fffaf0;
}

.position-container {
  position: relative;
  height: 100%;
}
.position-container h1 {
  text-align: center;
  position: fixed;
  bottom: 7vh;
  width: 100%;
  z-index: -1;
}

header {
  background-image: url("../img/FJ_home_slider2.jpg");
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -2;
}
header .logo {
  position: fixed;
  top: 5%;
  left: 3%;
}

main {
  overflow-x: hidden;
  padding-top: 100vh;
}
main .experience {
  background-color: #1a1a1a;
  padding: 10rem;
  height: 85rem;
}
main .experience .experience-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
main .experience .experience-content p {
  padding: 5rem 0;
}
main .experience .experience-content div {
  height: 38rem;
  width: 80vw;
  position: relative;
  display: flex;
  justify-content: center;
}
main .experience .experience-content div img {
  width: auto;
  height: 38rem;
  position: absolute;
  z-index: 1;
  align-self: center;
}
main .experience .experience-content div h2 {
  position: absolute;
  z-index: 2;
  margin: 6rem 0;
}
main .experience .experience-content div hr {
  position: absolute;
  z-index: 0;
  width: 80vw;
  margin: 18rem 0;
}
main .experience .experience-content a {
  font-size: 1.6rem;
  font-family: Helvetica;
  font-weight: 300;
  letter-spacing: 0.5rem;
  color: #fffaf0;
  text-decoration: none;
}
main .curated {
  background-color: #121212;
  padding: 20rem 0;
  margin: 0 auto;
}
main .curated .curated-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
  margin: 0 auto 20rem auto;
}
main .curated .curated-images {
  width: 90vw;
  height: 23rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
main .curated .curated-images .item {
  position: relative;
  overflow: hidden;
  text-align: center;
  justify-self: center;
  background-size: contain;
  background-repeat: no-repeat;
}
main .curated .curated-images .item:hover .hover-effect {
  height: 100%;
}
main .curated .curated-images .item:nth-child(1) {
  width: 25.8rem;
  height: 100%;
  background-image: url("../img/03_Curated_WAT_HUBLOT_b.jpg");
}
main .curated .curated-images .item:nth-child(1) .hover-effect .hover-text {
  padding: 29% 0;
}
main .curated .curated-images .item:nth-child(2) {
  width: 17.2rem;
  height: 100%;
  background-image: url("../img/04_Curated_Fine_Ring_Product_b.jpg");
  margin-bottom: 20%;
}
main .curated .curated-images .item:nth-child(2) .hover-effect .hover-text {
  padding: 43% 0;
}
main .curated .curated-images .item:nth-child(3) {
  width: 25.8rem;
  height: 100%;
  background-image: url("../img/07_Curated_DEC_Locherber_b-1.jpg");
}
main .curated .curated-images .item:nth-child(3) .hover-effect .hover-text {
  padding: 25% 0;
}
main .curated .curated-images .item .hover-effect {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: height 0.5s ease;
  display: flex;
  justify-content: center;
}
main .curated .curated-images .item .hover-effect .hover-text {
  width: 90%;
  margin: 0 auto;
}
main .curated .curated-images .item .hover-effect .hover-text hr {
  margin: 2rem 0;
}
main .partnership {
  background-color: #1a1a1a;
  margin: 0 auto;
  padding: 20rem 0;
}
main .partnership .partnership-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
  margin: 0 auto 20rem auto;
}
main .showroom {
  background-color: #121212;
}
main .news {
  background-color: #1a1a1a;
}

footer {
  background-color: #e2e2e2;
  position: relative;
  z-index: -2;
  height: 20rem;
}

/*# sourceMappingURL=style.css.map */
